@charset "UTF-8";

.menu {
    display: flex;
    flex-direction: row;
    justify-content:center ;
    position: relative;
}
.menu-content {
    display: none;
    position: absolute;
    overflow: hidden;
    text-align: center;
    top: 100%;

}
.menu:hover .menu-content {
    display: inline-block;
    text-align: center;
    padding-left: inherit;
    padding-right: inherit;

}
.menu-content a {
    display: block;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;


}

#butmenu {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 3em;
	padding-left: 3em;
	text-align: center;
	
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#PriseDate,#RetourDate,#Envoie{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    

}
h2{
    text-align: center;
}

