@charset "UTF-8";


button {
    background-color: #08e1ae;
	border: 1px solid white;
	color: white;
	text-decoration: none;
	font-size: 1em;
	
}


.menu-content {
    background-color: #08e1ae;
    border-radius: 0.5em;
}

.menu:hover .menu-content {
    color: green;
    cursor: pointer;
}
.menu-content a {
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.menu-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

.tablereserv {
	color: #FFDZDD;
    background-color: white;
	font-size:18px;
}
.columnreserv, td {
	height:50px;
	width: 200px;
	padding-right:20px;
	padding-left:20px;
}

.select {
	margin-bottom:20px;
}
.gros_bouton {
	color: white;
	background: Red;
	font-size: 35px;
}

.gros_bouton_bleu {
	color: white;
	background: blue;
	font-size: 35px;
}

main header 
{
    background-color: black;
}
#butmenu {
    border-radius: 0.5em;
}
#seconn {
    padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 3em;
	padding-left: 3em;
    border-radius: 0.5em;
}
input{
padding: 0,2em;
margin: 1em;}