@charset "UTF-8";


button {
    background-color: #08e1ae;
	border: 1px solid white;
	color: white;
	text-decoration: none;
	font-size: 1em;
	
}


.menu-content {
    background-color: #08e1ae;
    border-radius: 0.5em;
}

.menu:hover .menu-content {
    color: green;
    cursor: pointer;
}
.menu-content a {
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.menu-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}
main header 
{
    background-color: black;
}
#butmenu {
    border-radius: 0.5em;
}
#seconn {
    padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 3em;
	padding-left: 3em;
    border-radius: 0.5em;
}
input{
padding: 0,2em;
margin: 1em;}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }